{% extends 'base.html.twig' %}

{% block title %}Hello AboutController!{% endblock %}

{% block body %}


<section style="text-align:center;">
    <h2>A propos de nous</h2>

    <article style="width:50%; text-align:center; margin:auto;">
        <p>Tooshare est un site qui à pour but d'aider les artistes qui viennent de commencer leur future carrière. 
            Il permet aux jeunes artistes de commencer avec une visibilité qui est toujours mieux que rien.
            Chaque personne voulant apparaître en tant qu'artiste devra envoyer leur demande via le formulaire de
            contact disponible dans le menu au dessus du site. 
        </p>


    </article>
</section>


{% endblock %}